* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----shared style start----- */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}


/* -----shared style end----- */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: bottom left, right bottom;
    background-repeat: no-repeat;
    padding-top: 51px;

}

/* --------nav style------- */
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

/* -------nav style end------- */

/*-----banner style start----- */
#banner {
    /* border: 1px solid red; */
    margin: 45px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-btn .btn {
    margin-right: 30px;
}

.white-btn {
    background-color: white;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    cursor: pointer;
}

.banner-img img {
    max-width: 584px;
    vertical-align: middle;

}

/* -----main area style  start----- */
/* -------about style start--- */
#about,
#skill,
#resume {
    padding-top: 130px;
}

#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    align-items: center;
    padding: 130px 156px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card {
    text-align: center;
}

.info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.info-card h4 {
    color: #757575;
}

/* -----about style end----- */

/* ------skill section style start----- */
#skill .skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;

}

#skill .skill-container .skill-box {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    gap: 25px;
}

.skill-box .skill-card {
    max-width: 267px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 50px 0 #00000037;

}

.skill-card img {
    max-width: 45px;
    margin-bottom: 30px;
}

.skill-card h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* ------skill section style end------ */

/* -----resume section style start---- */
#resume {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#resume .resume-container {
    display: flex;
    gap: 71px;
    padding-top: 110px;
}

.education h2 {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 20px;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #474747;

}

.resume-card hr {
    margin: 30px 0;
}

#resume .resume-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* -----resume section style end------- */

/* -----main area style end------ */