* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----shared style start----- */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* -----shared style end----- */
header {
    background-color: #FFF8F3;
    padding-top: 51px;
}

/* --------nav start------- */
nav {
    width: 71%;
    max-width: 1140;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
/* -------nav end------- */
